body {
  padding: 0px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}


nav {
	margin: 32px auto;
}

nav a {
	color: #233dcb;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover,
nav a:active {
	color: #41abf2;
}

.pipes {
	margin: 32px 0;
	padding: 16px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.parent {
	margin: 32px;
	padding: 16px;
	background-color: #aaa;
	border: 2px solid #888;
}

.child {
	margin: 32px;
	padding: 16px;
	background-color: #ddd;
	border: 2px solid #888;
}

.component {
	margin: 32px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 16px;
	margin-bottom: 32px;
}

.jquery-button {
	margin: 32px;
	margin-bottom: 32px;
	padding: 16px;
}
